.update-page{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
    
    .overlay{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($color: #000000, $alpha: 0.5);
    }

    .update-content{
        height: 500px;
        width: 800px;
        position: relative;
        background-color: white;
        animation: editPostSlider 0.3s ease forwards;

        .header{
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-inline: 8px;
            border-bottom: 1px solid rgba($color: #000000, $alpha: 0.6);

            .close-btn {
                display: flex;
                align-items: center;
                gap: 4px;
                cursor: pointer;
                font-weight: 500;

                &:hover {
                    opacity: 0.6;
                }

                &:active {
                    opacity: 1;
                }
            }
        }

        .main{
            display: flex;
            justify-content: center;
            gap: 10px;
            height: 400px;
            margin-top: 20px;

            .main-left{
                width: 390px;
                height: 400px;

                .img-container{
                    cursor: pointer;
                }

                img{
                    width: 100%;
                    height: 300px;
                    object-fit: cover;
                    border: 2px dashed rgba($color: #000000, $alpha: 0.3)
                }
            }

            .main-right{
                width: 390px;
                height: 100%;
                display: flex;
                flex-direction: column;
                gap:5px;

                .right-header{
                    display: flex;
                    align-items: center;
                    gap: 20px;
                    height: 60px;
                    padding: 20px;
                    cursor: pointer; 
                }

                .right-content{
                    display: flex;
                    align-items: center;
                    padding: 20px;

                    .captionInput {
                        width: 100%;
                        padding: 8px 16px;
                        border: 1px solid var(--border-color);
                        border-radius: 4px;
                    }
                }

                .right-footer{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 20px;

                    .input-post-img{
                        .updatelabelImg {
                            display: inline-block;
                            background-color: var(--accent-color);
                            color: white;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                            cursor: pointer;
                        }

                        .updateinputImg {
                            display: none;
                        }
                    }

                    .edit-post-btn{
                        width: fit-content;
                    }

                }

                

                
            }
        }

    }
}